USE [master]
GO
/****** Object:  Database [dbQuanLiNem]    Script Date: 12/28/2020 11:45:47 AM ******/
CREATE DATABASE [dbQuanLiNem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbQuanLiNem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\dbQuanLiNem.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'dbQuanLiNem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\dbQuanLiNem_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbQuanLiNem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbQuanLiNem]
GO
/****** Object:  Table [dbo].[CART_ITEM]    Script Date: 12/28/2020 11:45:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CART_ITEM](
	[USERNAME] [char](50) NOT NULL,
	[MASANPHAM] [char](5) NOT NULL,
	[TENSANPHAM] [nvarchar](50) NULL,
	[GIA] [float] NULL,
	[SOLUONG] [int] NOT NULL,
	[THANHTIEN] [bigint] NOT NULL,
	[TRANGTHAI] [int] NULL,
	[HINH] [nvarchar](max) NULL,
	[KICHTHUOC] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CART_ITEM_1] PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC,
	[MASANPHAM] ASC,
	[KICHTHUOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHITIETHOADON]    Script Date: 12/28/2020 11:45:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETHOADON](
	[MAHD] [int] NOT NULL,
	[MASANPHAM] [char](5) NOT NULL,
	[SOLUONG] [int] NULL,
	[GIA] [float] NULL,
	[KICHTHUOC] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CHITIETHOADON] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC,
	[MASANPHAM] ASC,
	[KICHTHUOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 12/28/2020 11:45:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [int] IDENTITY(1,1) NOT NULL,
	[USERNAME] [char](50) NOT NULL,
	[NGAYTAO] [datetime] NOT NULL,
 CONSTRAINT [PK__HOADON__603F20CE2A1286FD] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 12/28/2020 11:45:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[USERNAME] [char](50) NOT NULL,
	[HOTEN] [nvarchar](255) NOT NULL,
	[EMAIL] [varchar](255) NOT NULL,
	[MATKHAU] [nvarchar](255) NOT NULL,
	[SDT] [varchar](11) NOT NULL,
	[DIACHI] [nvarchar](255) NULL,
	[HINH] [nvarchar](255) NULL,
	[QUEQUAN] [nvarchar](100) NULL,
	[THANHPHO] [nvarchar](100) NULL,
	[TRANGTHAI] [int] NULL,
	[ROLE] [int] NULL,
 CONSTRAINT [PK__KHACHHAN__B15BE12F5BA91133] PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAI]    Script Date: 12/28/2020 11:45:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAI](
	[MALOAI] [char](5) NOT NULL,
	[TENLOAI] [nvarchar](50) NULL,
	[HINH] [nvarchar](255) NULL,
 CONSTRAINT [PK__LOAI__2F633F23E9D56F38] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NEM_CHATLIEU]    Script Date: 12/28/2020 11:45:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NEM_CHATLIEU](
	[MACHATLIEU] [char](5) NOT NULL,
	[TENCHATLIEU] [nvarchar](255) NULL,
 CONSTRAINT [PK__NEM_CHAT__80F939F88DE96A76] PRIMARY KEY CLUSTERED 
(
	[MACHATLIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NEM_CHUNGLOAI]    Script Date: 12/28/2020 11:45:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NEM_CHUNGLOAI](
	[MACHUNGLOAI] [char](5) NOT NULL,
	[TENCHUNGLOAI] [nvarchar](50) NULL,
 CONSTRAINT [PK__CHUNGLOA__125148AB7D758AE3] PRIMARY KEY CLUSTERED 
(
	[MACHUNGLOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NEM_DACDIEM]    Script Date: 12/28/2020 11:45:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NEM_DACDIEM](
	[MASANPHAM] [char](5) NOT NULL,
	[DACDIEM01] [nvarchar](255) NULL,
	[DACDIEM02] [nvarchar](255) NULL,
	[DACDIEM03] [nvarchar](255) NULL,
 CONSTRAINT [PK__NEM_DACD__9534C892C157046B] PRIMARY KEY CLUSTERED 
(
	[MASANPHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NEM_DOCUNG]    Script Date: 12/28/2020 11:45:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NEM_DOCUNG](
	[MADOCUNG] [char](5) NOT NULL,
	[TENDOCUNG] [nvarchar](255) NULL,
 CONSTRAINT [PK__CHUNGLOA__125148AB7D758AE3_copy1] PRIMARY KEY CLUSTERED 
(
	[MADOCUNG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NEM_KICHTHUOC]    Script Date: 12/28/2020 11:45:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NEM_KICHTHUOC](
	[MASANPHAM] [char](5) NOT NULL,
	[KICHTHUOC] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_NEM_KICHTHUOC] PRIMARY KEY CLUSTERED 
(
	[MASANPHAM] ASC,
	[KICHTHUOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NEM_THIETKE]    Script Date: 12/28/2020 11:45:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NEM_THIETKE](
	[MATHIETKE] [char](5) NOT NULL,
	[TENTHIETKE] [nvarchar](255) NULL,
 CONSTRAINT [PK__NEM_THIE__AF996DE4EFE52CF2] PRIMARY KEY CLUSTERED 
(
	[MATHIETKE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NEM_THONGTINTHEM]    Script Date: 12/28/2020 11:45:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NEM_THONGTINTHEM](
	[MASANPHAM] [char](5) NOT NULL,
	[MADOCUNG] [char](5) NULL,
	[MATHIETKE] [char](5) NULL,
	[MACHUNGLOAI] [char](5) NULL,
	[MACHATLIEU] [char](5) NULL,
 CONSTRAINT [PK__THONGTIN__9534C892CDDC1A3E] PRIMARY KEY CLUSTERED 
(
	[MASANPHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 12/28/2020 11:45:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASANPHAM] [char](5) NOT NULL,
	[TENSANPHAM] [nvarchar](50) NULL,
	[MALOAI] [char](5) NULL,
	[MATHUONGHIEU] [char](5) NULL,
	[GIAGOC] [float] NULL,
	[HINHMINHHOA] [nvarchar](255) NULL,
	[NGAYTAO] [date] NULL,
	[THONGTIN] [ntext] NULL,
	[MOI] [smallint] NULL,
	[GIAM] [float] NULL,
	[GIABAN] [float] NULL,
	[SLTON] [bigint] NULL,
 CONSTRAINT [PK__SANPHAM__9534C892E9F10A62] PRIMARY KEY CLUSTERED 
(
	[MASANPHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SPTHICH]    Script Date: 12/28/2020 11:45:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SPTHICH](
	[USERNAME] [char](50) NOT NULL,
	[MASANPHAM] [char](5) NOT NULL,
 CONSTRAINT [PK_SPTHICH] PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC,
	[MASANPHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THUONGHIEU]    Script Date: 12/28/2020 11:45:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[THUONGHIEU](
	[MATHUONGHIEU] [char](5) NOT NULL,
	[MALOAI] [char](5) NULL,
	[TENTHUONGHIEU] [nvarchar](50) NULL,
 CONSTRAINT [PK__THUONGHI__B319F638644C3102] PRIMARY KEY CLUSTERED 
(
	[MATHUONGHIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  UserDefinedFunction [dbo].[GET_NEM_TT]    Script Date: 12/28/2020 11:45:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[GET_NEM_TT] (
)
RETURNS TABLE
AS
	RETURN(
		SELECT TT.MASANPHAM, TENCHUNGLOAI, TENDOCUNG, TENTHIETKE, TENCHATLIEU, DACDIEM01, DACDIEM02, DACDIEM03
		FROM NEM_THONGTINTHEM TT, NEM_DOCUNG DC,NEM_THIETKE TK, NEM_CHATLIEU CL, NEM_CHUNGLOAI CHL, NEM_DACDIEM DD
		WHERE TT.MACHUNGLOAI = CHL.MACHUNGLOAI
		AND TT.MATHIETKE = TK.MATHIETKE
		AND TT.MADOCUNG = DC.MADOCUNG
		AND TT.MACHATLIEU = CL.MACHATLIEU
		AND TT.MASANPHAM = DD.MASANPHAM
	)

GO
/****** Object:  UserDefinedFunction [dbo].[GET_LIST_NEM]    Script Date: 12/28/2020 11:45:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[GET_LIST_NEM] (
)
RETURNS TABLE
AS
RETURN(
			SELECT SP.MASANPHAM, TENSANPHAM, TENTHUONGHIEU, GIA, HINHMINHHOA, TENCHUNGLOAI, TENDOCUNG, TENTHIETKE, TENCHATLIEU, DACDIEM01, DACDIEM02, DACDIEM03
			FROM SANPHAM SP, DBO.GET_NEM_TT() TT, THUONGHIEU TH
			WHERE SP.MASANPHAM = TT.MASANPHAM
			AND SP.MATHUONGHIEU = TH.MATHUONGHIEU
			AND SP.MALOAI = 'N'			
			)

GO
/****** Object:  UserDefinedFunction [dbo].[GET_NEM]    Script Date: 12/28/2020 11:45:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[GET_NEM] (
@MASANPHAM CHAR(5)
)
RETURNS TABLE
AS
RETURN(
			SELECT SP.MASANPHAM, TENSANPHAM, TENTHUONGHIEU, GIA, HINHMINHHOA, TENCHUNGLOAI, TENDOCUNG, TENTHIETKE, TENCHATLIEU, DACDIEM01, DACDIEM02, DACDIEM03
			FROM SANPHAM SP, DBO.GET_NEM_TT() TT, THUONGHIEU TH
			WHERE SP.MASANPHAM = TT.MASANPHAM
			AND SP.MATHUONGHIEU = TH.MATHUONGHIEU
			AND SP.MASANPHAM = @MASANPHAM

			)

GO
/****** Object:  UserDefinedFunction [dbo].[GET_NEM_BY_TH]    Script Date: 12/28/2020 11:45:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[GET_NEM_BY_TH] (
@MATHUONGHIEU CHAR(5)
)
RETURNS TABLE
AS
RETURN(
			SELECT SP.MASANPHAM, TENSANPHAM, TENTHUONGHIEU, GIA, HINHMINHHOA, TENCHUNGLOAI, TENDOCUNG, TENTHIETKE, TENCHATLIEU, DACDIEM01, DACDIEM02, DACDIEM03
			FROM SANPHAM SP, DBO.GET_NEM_TT() TT, THUONGHIEU TH
			WHERE SP.MASANPHAM = TT.MASANPHAM
			AND SP.MATHUONGHIEU = TH.MATHUONGHIEU
			AND SP.MATHUONGHIEU = @MATHUONGHIEU
			)

GO
INSERT [dbo].[CART_ITEM] ([USERNAME], [MASANPHAM], [TENSANPHAM], [GIA], [SOLUONG], [THANHTIEN], [TRANGTHAI], [HINH], [KICHTHUOC]) VALUES (N'trandongpy                                        ', N'SP022', N'Gối massage Sleeping Comfort', 240100, 1, 240100, 0, N'massage-spcf.jpg', N'140 x 200 cm')
INSERT [dbo].[CHITIETHOADON] ([MAHD], [MASANPHAM], [SOLUONG], [GIA], [KICHTHUOC]) VALUES (60, N'SP001', 5, 19681497, N'180 x 200 cm')
INSERT [dbo].[CHITIETHOADON] ([MAHD], [MASANPHAM], [SOLUONG], [GIA], [KICHTHUOC]) VALUES (60, N'SP002', 3, 8325900, N'140 x 200 cm')
INSERT [dbo].[CHITIETHOADON] ([MAHD], [MASANPHAM], [SOLUONG], [GIA], [KICHTHUOC]) VALUES (61, N'SP015', 5, 1989000, N'Không có')
SET IDENTITY_INSERT [dbo].[HOADON] ON 

INSERT [dbo].[HOADON] ([MAHD], [USERNAME], [NGAYTAO]) VALUES (60, N'trandongpy                                        ', CAST(0x0000AC9F00AB3127 AS DateTime))
INSERT [dbo].[HOADON] ([MAHD], [USERNAME], [NGAYTAO]) VALUES (61, N'trandongpy                                        ', CAST(0x0000AC9F00AB676B AS DateTime))
INSERT [dbo].[HOADON] ([MAHD], [USERNAME], [NGAYTAO]) VALUES (62, N'trandongpy                                        ', CAST(0x0000AC9F00BAFC11 AS DateTime))
SET IDENTITY_INSERT [dbo].[HOADON] OFF
INSERT [dbo].[KHACHHANG] ([USERNAME], [HOTEN], [EMAIL], [MATKHAU], [SDT], [DIACHI], [HINH], [QUEQUAN], [THANHPHO], [TRANGTHAI], [ROLE]) VALUES (N'123                                               ', N'aaa', N'sadasdsa@gmail.com', N'123', N'21312321312', N'140 Lê Trọng Tấn', N'default-avatar.jpg', N'Việt Nam', N'TP.HCM', 1, 0)
INSERT [dbo].[KHACHHANG] ([USERNAME], [HOTEN], [EMAIL], [MATKHAU], [SDT], [DIACHI], [HINH], [QUEQUAN], [THANHPHO], [TRANGTHAI], [ROLE]) VALUES (N'admin                                             ', N'admin admin', N'admin@gmail.com', N'admin', N'0', N'admin', N'default-avatar.jpg', N'Việt Nam', N'TP.HCM', 1, 1)
INSERT [dbo].[KHACHHANG] ([USERNAME], [HOTEN], [EMAIL], [MATKHAU], [SDT], [DIACHI], [HINH], [QUEQUAN], [THANHPHO], [TRANGTHAI], [ROLE]) VALUES (N'ew                                                ', N'aaa', N'sadasdsa@gmail.com', N'123', N'21312321312', N'140 Lê Trọng Tấn', N'default-avatar.jpg', N'Việt Nam', N'TP.HCM', 1, 0)
INSERT [dbo].[LOAI] ([MALOAI], [TENLOAI], [HINH]) VALUES (N'CGG  ', N'Chăn Ga Gối', N'category-goi.jpg')
INSERT [dbo].[LOAI] ([MALOAI], [TENLOAI], [HINH]) VALUES (N'G    ', N'Giường', N'category-giuong.jpg')
INSERT [dbo].[LOAI] ([MALOAI], [TENLOAI], [HINH]) VALUES (N'N    ', N'Nệm', N'category-nem.jpg')
INSERT [dbo].[NEM_CHATLIEU] ([MACHATLIEU], [TENCHATLIEU]) VALUES (N'CL001', N'Cao su')
INSERT [dbo].[NEM_CHATLIEU] ([MACHATLIEU], [TENCHATLIEU]) VALUES (N'CL002', N'Cao su tự nhiên')
INSERT [dbo].[NEM_CHATLIEU] ([MACHATLIEU], [TENCHATLIEU]) VALUES (N'CL003', N'Foam')
INSERT [dbo].[NEM_CHUNGLOAI] ([MACHUNGLOAI], [TENCHUNGLOAI]) VALUES (N'CL001', N'Nệm Bông Ép')
INSERT [dbo].[NEM_CHUNGLOAI] ([MACHUNGLOAI], [TENCHUNGLOAI]) VALUES (N'CL002', N'Nệm Foam')
INSERT [dbo].[NEM_CHUNGLOAI] ([MACHUNGLOAI], [TENCHUNGLOAI]) VALUES (N'CL003', N'Nệm Cao Su')
INSERT [dbo].[NEM_DACDIEM] ([MASANPHAM], [DACDIEM01], [DACDIEM02], [DACDIEM03]) VALUES (N'SP001', N'Lò xo túi phân bổ trọng lượng tốt', N'Lớp mút hộp gia tăng hỗ trợ cạnh nệm', N'Mặt vải dệt kim sang trọng')
INSERT [dbo].[NEM_DACDIEM] ([MASANPHAM], [DACDIEM01], [DACDIEM02], [DACDIEM03]) VALUES (N'SP002', N'Lớp pillow-top, mút nệm gia tăng sự êm ái', N'Vỏ nệm làm từ vải dệt kim cao cấp', N'Lò xo túi phân bổ áp lực lên điểm tiếp xúc')
INSERT [dbo].[NEM_DACDIEM] ([MASANPHAM], [DACDIEM01], [DACDIEM02], [DACDIEM03]) VALUES (N'SP003', N'Cấu tạo 4 lớp Foam công nghệ tiên tiến', N'Cooling Gel giúp bề mặt nệm thoáng mát', N'Vải nệm dây kéo ẩn ôm sát, dễ tháo rời vệ sinh')
INSERT [dbo].[NEM_DOCUNG] ([MADOCUNG], [TENDOCUNG]) VALUES (N'DC001', N'Cứng')
INSERT [dbo].[NEM_DOCUNG] ([MADOCUNG], [TENDOCUNG]) VALUES (N'DC002', N'Mềm')
INSERT [dbo].[NEM_DOCUNG] ([MADOCUNG], [TENDOCUNG]) VALUES (N'DC003', N'Trung Bình')
INSERT [dbo].[NEM_KICHTHUOC] ([MASANPHAM], [KICHTHUOC]) VALUES (N'nc791', N'140 x 200 cm')
INSERT [dbo].[NEM_KICHTHUOC] ([MASANPHAM], [KICHTHUOC]) VALUES (N'nc791', N'160 x 200 cm')
INSERT [dbo].[NEM_KICHTHUOC] ([MASANPHAM], [KICHTHUOC]) VALUES (N'nc791', N'180 x 200 cm')
INSERT [dbo].[NEM_THIETKE] ([MATHIETKE], [TENTHIETKE]) VALUES (N'TK001', N'Nệm gấp 2')
INSERT [dbo].[NEM_THIETKE] ([MATHIETKE], [TENTHIETKE]) VALUES (N'TK002', N'Nệm gấp 3')
INSERT [dbo].[NEM_THIETKE] ([MATHIETKE], [TENTHIETKE]) VALUES (N'TK003', N'Nệm thẳng')
INSERT [dbo].[NEM_THONGTINTHEM] ([MASANPHAM], [MADOCUNG], [MATHIETKE], [MACHUNGLOAI], [MACHATLIEU]) VALUES (N'SP001', N'DC001', N'TK003', N'CL004', N'CL007')
INSERT [dbo].[NEM_THONGTINTHEM] ([MASANPHAM], [MADOCUNG], [MATHIETKE], [MACHUNGLOAI], [MACHATLIEU]) VALUES (N'SP002', N'DC001', N'TK003', N'CL004', N'CL007')
INSERT [dbo].[NEM_THONGTINTHEM] ([MASANPHAM], [MADOCUNG], [MATHIETKE], [MACHUNGLOAI], [MACHATLIEU]) VALUES (N'SP003', N'DC002', N'TK003', N'CL002', N'CL003')
INSERT [dbo].[SANPHAM] ([MASANPHAM], [TENSANPHAM], [MALOAI], [MATHUONGHIEU], [GIAGOC], [HINHMINHHOA], [NGAYTAO], [THONGTIN], [MOI], [GIAM], [GIABAN], [SLTON]) VALUES (N'nc791', N'TUI TÉT', N'PK   ', N'TH008', 9000, N'img-3.jpg', CAST(0xE3410B00 AS Date), NULL, 1, 0.25, 6750, 0)
INSERT [dbo].[SANPHAM] ([MASANPHAM], [TENSANPHAM], [MALOAI], [MATHUONGHIEU], [GIAGOC], [HINHMINHHOA], [NGAYTAO], [THONGTIN], [MOI], [GIAM], [GIABAN], [SLTON]) VALUES (N'rk988', N'Nệm Naruto', N'N    ', N'TH003', 19500000, N'44309.jpg', CAST(0xFA410B00 AS Date), NULL, 1, 0.05, 18525000, 10)
INSERT [dbo].[SANPHAM] ([MASANPHAM], [TENSANPHAM], [MALOAI], [MATHUONGHIEU], [GIAGOC], [HINHMINHHOA], [NGAYTAO], [THONGTIN], [MOI], [GIAM], [GIABAN], [SLTON]) VALUES (N'SP001', N'Nệm lò xo Lady Americana Oklahoma', N'N    ', N'TH010', 21868330, N'lady_americana_oklahoma_4_.jpg', CAST(0x46410B00 AS Date), NULL, 1, 0.1, 19681497, 50)
INSERT [dbo].[SPTHICH] ([USERNAME], [MASANPHAM]) VALUES (N'123                                               ', N'SP001')
INSERT [dbo].[SPTHICH] ([USERNAME], [MASANPHAM]) VALUES (N'123                                               ', N'SP002')
INSERT [dbo].[SPTHICH] ([USERNAME], [MASANPHAM]) VALUES (N'123                                               ', N'SP003')
INSERT [dbo].[THUONGHIEU] ([MATHUONGHIEU], [MALOAI], [TENTHUONGHIEU]) VALUES (N'TH001', N'N    ', N'Amando')
INSERT [dbo].[THUONGHIEU] ([MATHUONGHIEU], [MALOAI], [TENTHUONGHIEU]) VALUES (N'TH002', N'N    ', N'Aeroflow')
INSERT [dbo].[THUONGHIEU] ([MATHUONGHIEU], [MALOAI], [TENTHUONGHIEU]) VALUES (N'TH003', N'N    ', N'Dunlopillo')
ALTER TABLE [dbo].[CART_ITEM]  WITH CHECK ADD  CONSTRAINT [FK_CART_ITEM_KHACHHANG] FOREIGN KEY([USERNAME])
REFERENCES [dbo].[KHACHHANG] ([USERNAME])
GO
ALTER TABLE [dbo].[CART_ITEM] CHECK CONSTRAINT [FK_CART_ITEM_KHACHHANG]
GO
ALTER TABLE [dbo].[CART_ITEM]  WITH CHECK ADD  CONSTRAINT [FK_CART_ITEM_SANPHAM] FOREIGN KEY([MASANPHAM])
REFERENCES [dbo].[SANPHAM] ([MASANPHAM])
GO
ALTER TABLE [dbo].[CART_ITEM] CHECK CONSTRAINT [FK_CART_ITEM_SANPHAM]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK__CHITIETSA__MASAN__2180FB33] FOREIGN KEY([MASANPHAM])
REFERENCES [dbo].[SANPHAM] ([MASANPHAM])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK__CHITIETSA__MASAN__2180FB33]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK__CHITIETSAN__MAHD__208CD6FA] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK__CHITIETSAN__MAHD__208CD6FA]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK__HOADON__USERNAME__1DB06A4F] FOREIGN KEY([USERNAME])
REFERENCES [dbo].[KHACHHANG] ([USERNAME])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK__HOADON__USERNAME__1DB06A4F]
GO
ALTER TABLE [dbo].[NEM_DACDIEM]  WITH CHECK ADD  CONSTRAINT [FK__NEM_DACDI__MASAN__03F0984C] FOREIGN KEY([MASANPHAM])
REFERENCES [dbo].[SANPHAM] ([MASANPHAM])
GO
ALTER TABLE [dbo].[NEM_DACDIEM] CHECK CONSTRAINT [FK__NEM_DACDI__MASAN__03F0984C]
GO
ALTER TABLE [dbo].[NEM_KICHTHUOC]  WITH CHECK ADD  CONSTRAINT [FK_NEM_KICHTHUOC_SANPHAM] FOREIGN KEY([MASANPHAM])
REFERENCES [dbo].[SANPHAM] ([MASANPHAM])
GO
ALTER TABLE [dbo].[NEM_KICHTHUOC] CHECK CONSTRAINT [FK_NEM_KICHTHUOC_SANPHAM]
GO
ALTER TABLE [dbo].[NEM_THONGTINTHEM]  WITH CHECK ADD  CONSTRAINT [FK__NEM_THONG__MACHA__01142BA1] FOREIGN KEY([MACHATLIEU])
REFERENCES [dbo].[NEM_CHATLIEU] ([MACHATLIEU])
GO
ALTER TABLE [dbo].[NEM_THONGTINTHEM] CHECK CONSTRAINT [FK__NEM_THONG__MACHA__01142BA1]
GO
ALTER TABLE [dbo].[NEM_THONGTINTHEM]  WITH CHECK ADD  CONSTRAINT [FK__NEM_THONG__MACHU__797309D9] FOREIGN KEY([MACHUNGLOAI])
REFERENCES [dbo].[NEM_CHUNGLOAI] ([MACHUNGLOAI])
GO
ALTER TABLE [dbo].[NEM_THONGTINTHEM] CHECK CONSTRAINT [FK__NEM_THONG__MACHU__797309D9]
GO
ALTER TABLE [dbo].[NEM_THONGTINTHEM]  WITH CHECK ADD  CONSTRAINT [FK__NEM_THONG__MADOC__00200768] FOREIGN KEY([MADOCUNG])
REFERENCES [dbo].[NEM_DOCUNG] ([MADOCUNG])
GO
ALTER TABLE [dbo].[NEM_THONGTINTHEM] CHECK CONSTRAINT [FK__NEM_THONG__MADOC__00200768]
GO
ALTER TABLE [dbo].[NEM_THONGTINTHEM]  WITH CHECK ADD  CONSTRAINT [FK__NEM_THONG__MATHI__7A672E12] FOREIGN KEY([MATHIETKE])
REFERENCES [dbo].[NEM_THIETKE] ([MATHIETKE])
GO
ALTER TABLE [dbo].[NEM_THONGTINTHEM] CHECK CONSTRAINT [FK__NEM_THONG__MATHI__7A672E12]
GO
ALTER TABLE [dbo].[NEM_THONGTINTHEM]  WITH CHECK ADD  CONSTRAINT [FK__THONGTINN__MASAN__6FE99F9F] FOREIGN KEY([MASANPHAM])
REFERENCES [dbo].[SANPHAM] ([MASANPHAM])
GO
ALTER TABLE [dbo].[NEM_THONGTINTHEM] CHECK CONSTRAINT [FK__THONGTINN__MASAN__6FE99F9F]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK__SANPHAM__MALOAI__5441852A] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAI] ([MALOAI])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK__SANPHAM__MALOAI__5441852A]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK__SANPHAM__MATHUON__52593CB8] FOREIGN KEY([MATHUONGHIEU])
REFERENCES [dbo].[THUONGHIEU] ([MATHUONGHIEU])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK__SANPHAM__MATHUON__52593CB8]
GO
ALTER TABLE [dbo].[SPTHICH]  WITH CHECK ADD  CONSTRAINT [FK_SPTHICH_KHACHHANG] FOREIGN KEY([USERNAME])
REFERENCES [dbo].[KHACHHANG] ([USERNAME])
GO
ALTER TABLE [dbo].[SPTHICH] CHECK CONSTRAINT [FK_SPTHICH_KHACHHANG]
GO
ALTER TABLE [dbo].[SPTHICH]  WITH CHECK ADD  CONSTRAINT [FK_SPTHICH_SANPHAM] FOREIGN KEY([MASANPHAM])
REFERENCES [dbo].[SANPHAM] ([MASANPHAM])
GO
ALTER TABLE [dbo].[SPTHICH] CHECK CONSTRAINT [FK_SPTHICH_SANPHAM]
GO
ALTER TABLE [dbo].[THUONGHIEU]  WITH CHECK ADD  CONSTRAINT [FK__THUONGHIE__MALOA__4E88ABD4] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAI] ([MALOAI])
GO
ALTER TABLE [dbo].[THUONGHIEU] CHECK CONSTRAINT [FK__THUONGHIE__MALOA__4E88ABD4]
GO
USE [master]
GO
